a {
  color: black;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px
}





#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40
}

#mainNav .navbar-nav>li.nav-item>a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;

}

@media only screen and (min-width:992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: 0 0
  }

  #mainNav .navbar-brand {
    color: black;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, .8)
  }

  #mainNav .navbar-nav>li.nav-item>a {
    /* padding: 10px 20px; */
    color: black;
  }

  /* #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: rgba(255, 255, 255, .8)
    } */
}

@media only screen and (min-width:992px) {
  #mainNav {
    transition: background-color .2s;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden
  }

  #mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: transform .2s;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, .9)
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085a1
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a {
    color: #212529
  }

  #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
  #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
    color: #0085a1
  }

  #mainNav.is-visible {
    transform: translate3d(0, 100%, 0)
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  margin-top: -31px
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 106%;
  width: 100%;
  background-color: #212529;
  opacity: .5;
  margin-top: -31px
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff
}

@media only screen and (min-width:768px) {

  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media only screen and (min-width:768px) {

  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px
  }
}

header.masthead .post-heading h1 {
  font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Lora, 'Times New Roman', serif
}

header.masthead .post-heading .meta a {
  color: #fff
}

@media only screen and (min-width:768px) {
  header.masthead .post-heading h1 {
    font-size: 55px
  }

  header.masthead .post-heading .subheading {
    font-size: 30px
  }
}

/* Base */
body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
  background: #fff;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f89fc;
}

a:hover {
  color: #046df4;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: #000;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  border-radius: 0;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}

/* Blocks */
.container {
  max-width: 1200px;
}

.muted,
.entry2 p {
  color: #666666;
}

.site-cover {
  background-size: cover;
  background-position: top center;
  position: relative;
}

.site-cover.overlay:before {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-cover,
.site-cover .same-height {
  padding: 7em 0;
}

.site-cover .post-entry .post-meta {
  color: #fff;
  font-size: 13px;
}

.site-cover .post-entry .post-meta .author-figure img {
  width: 30px;
  border-radius: 50%;
}

.site-cover .post-entry h2 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
}

@media (min-width: 992px) {
  .site-cover .post-entry h2 {
    font-size: 3rem;
  }
}

.site-cover .post-entry h2 a {
  color: #fff;
}

.site-cover.single-page h1 {
  font-size: 2rem;
  color: #fff;
}

@media (min-width: 992px) {
  .site-cover.single-page h1 {
    font-size: 5rem;
  }
}

.site-cover.single-page h1 a {
  color: #fff;
}

.entry2 img {
  margin-bottom: 30px;
}

.entry2 h2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.entry2 h2 a {
  color: #000;
}

.entry2 .excerpt {
  padding-left: 20px;
  padding-right: 20px;
}

.entry2 .post-meta {
  color: #b3b3b3;
  font-size: 13px;
  width: 100%;
  display: block;
}

.entry2 .post-meta a {
  color: #000;
}

.entry2 .post-meta .author-figure img {
  width: 30px;
  border-radius: 50%;
}

.entry3,
.entry4 {
  margin-bottom: 30px;
}

.entry3 .text h2,
.entry4 .text h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}

.entry3 .text h2 a,
.entry4 .text h2 a {
  color: #000;
}

.entry3 .figure,
.entry4 .figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 1;
}

.entry3:hover figure,
.entry3:focus figure,
.entry4:hover figure,
.entry4:focus figure {
  opacity: .5;
}

.entry4 {
  margin-bottom: 30px;
}

.entry4 .text h2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.entry4 .text h2 a {
  color: #000;
}

.entry4 .figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

/* 



  /* --------------------------footer part ----------------------------------- */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}


/* -------------------custm style -------------- */

#card-header{
  font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;

}
#alink{
  line-height: 1.5;
  color: #000;
  font-size: 18px;

}