@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
:root {
  --progress-width: 100%;
  --progress-height: 8px;
  --progress-bar-color: #7300d1;
  --progress-bg: none;
  --progress-border-radius: 5px;
}

* {
  box-sizing: border-box;
  font: inherit;
}

h1,
h2,
h3 {
  font-family: Raleway;
}

.home {
  padding: 20px;
  font-size: 2em;
}

/*BEGIN progress */
progress {
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Target this for applying styles*/
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  width: var(--progress-width);
  height: var(--progress-height);
  /* Firefox: any style applied here applies to the container. */
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
  /* For IE10 */
  color: var(--progress-bar-color);
}

/* For Firefox: progress bar */
progress[value]::-moz-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}

/* WebKit/Blink browsers:
    -webkit-progress-bar is to style the container */
progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
}

/*-webkit-progress-value is to style the progress bar.*/
progress[value]::-webkit-progress-value {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}

/* END progress bar */
main {
  margin: 0 20px;
}

#post header {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: auto 30px auto;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.headline {
  font-family: Raleway;
  font-size: 2.25em;
  line-height: 1.25em;
  grid-column: 1 / -1;
}

.follow-btn {
  background: none;
  border: 1px black solid;
  border-radius: 3px;
  padding: 2px 5px;
}

.author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  grid-row: 2 / -1;
}

.social i {
  padding: 10px;
  font-size: 1.5em;
}

#post .reading-time {
  color: var(--progress-bar-color);
  font-weight: 600;
  justify-self: end;
}

article img {
  display: block;
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*recommended articles*/
.recommended-articles ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.recommended-articles ul li {
  display: inline-block;
  border: 1px grey dashed;
  min-width: 250px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.article-img,
.article-title {
  grid-column: span 1;
}

.article-img {
  width: 100px;
}

.article-img img {
  width: inherit;
}

.article-title h2 {
  text-overflow: ellipsis;
  padding: 0 5px;
  font-size: 1.2em;
}

.recommended-articles span {
  padding: 0 5px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
}

.recommended-articles .reading-time {
  justify-self: end;
}

@media screen and (min-width: 1000px) {
  main {
    margin: 0 20%;
  }
  .recommended-articles ul {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .recommended-articles ul li {
    min-width: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 4em auto;
    grid-gap: 10px;
  }
  .article-img,
  .article-title {
    grid-column: span 2;
  }
  .article-img {
    width: 150px;
    justify-self: center;
    align-self: center;
  }
  .article-img img {
    width: inherit;
  }
  .pledge {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
